[submodule "REST-API-Socialnetwork"]
	path = REST-API-Socialnetwork
	url = https://github.com/alvarocaboUPM/SocialMedia-Rest-API.git

[submodule "ETSIINFSocial"]
	path = ETSIINFSocial
	url = https://github.com/alvarocaboUPM/ETSIINFSocial.git
